.button {
  height: 48px;
  padding: 12px 24px;
  border-radius: 12px;

  background: vars.$button-color;
  color: vars.$button-text-color;
  
  cursor: pointer;
  transition: box-shadow 0.5s ease;

  &:hover {
    box-shadow: 0 10px 20px 10px rgba(63, 212, 115, 0.15);
  }

  &:active {
    box-shadow: 0 5px 10px 5px rgba(63, 212, 115, 0.1);
  }
}