$background-color: rgba(47, 52, 75, 1);
$text-color: rgba(255, 255, 255, 1);
$button-color: linear-gradient(92.58deg, #3FD473 0%, #3CD39D 100%);
$button-text-color: rgba(36, 39, 56, 1);
$input-background-color: rgba(36, 39, 56, 1);
$error-color: #ff496d;
$blue-link: rgba(130, 177, 255, 1);
