.modalOverlay {
  @include mixins.display-flex-centered();

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999; 
}

.content {
  @include mixins.flex-column-gap(32px);

  align-items: center;
  -webkit-align-items: center;
  padding: 24px 32px;
  
  background-color: vars.$background-color;
  border: 1px solid vars.$input-background-color;
  box-shadow: 3px 3px 5px vars.$input-background-color;
}






